        </div> <!-- End of container -->
    </div> <!-- End of content-container -->
    
    <footer>
        <div class="container">
            <p>Made with ❤ by <a href="https://github.com/bit2swaz" target="_blank">bit2swaz</a></p>
        </div>
    </footer>
</body>
</html> 